<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Le MOOC 2013 - Paris - Mai 2013</title>


  <link href="/static/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/static/bootstrap.css" type="text/css"
      media="screen">
  <link rel="stylesheet" href="/static/custom.css" type="text/css"
      media="screen">
</head>

<body>

<header class="main">

  <div class="navbg">
    <div class="container" style="height: 50px">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse"
              data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse">
            <ul class="nav">
              <!--About-->
              <li>
                <a href="#about" title="About">A propos</a>
              </li>

              <!--RFP-->
              <li>
                <a href="#cfp" title="CFP">Appel à participation</a>
              </li>

              <!--Venue-->
              <li>
                <a href="#venue" title="Venue">Lieu</a>
              </li>

              <!--Schedule-->
              <li>
                <a href="#schedule" title="Schedule">Programme</a>
              </li>

              <!--Press-->
              <li class="">
                <a href="#news" title="News">News</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</header>


<div class="banner">
  <div class="row">
    <div class="white">
      <div class="container">
        <div style="margin-left: auto; margin-right: auto">
          <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
            <a href="/"><img src="/static/images/logo.png" width="400"></a></h1>
        </div>
      </div>

      <div class="grey">
        <div class="container">
          <div class="row" style="height: 40px">
            <div class="span12">
              <h4 style="margin-top: 20px; margin-bottom: 20px;">How "Online", "Social" and "Open" are revolutionizing
                education</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row red">
        <div class="container">
          <div class="span12">
            <h3 style="margin-top: 15px;"><span>Date: </span> 30 mai 2013</h3>

            <h3 style="margin-bottom: 15px;"><span>Lieu: </span> TBD (dans Paris)</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
  {#
    <div class="span12 sponsor-crawl">
      <h3 class="scroll-title">Sponsors</h3>

      <div class="sponsorship-link">
        <div>
          <span class="in-brackets"><em>Sponsorship available.</em> <a
              href="http://www.pydata.org/sponsor/info" class="more">Learn
            more</a>.</span>
        </div>
      </div>

      <div id="sponsorslider" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active" style="margin: auto;">

            <a href="http://www.continuum.io/"
                title="Continuum Analytics, Inc.">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/continuum170w.png')"
                  data-background-2x="/static/uploads/sponsor_logos/continuum170w.png"></div>
            </a>


            <a href="http://www.deshaw.com/" title="D.E. Shaw">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/DESCO_Logo_2C_new.png')"
                  data-background-2x="/static/uploads/sponsor_logos/DESCO_Logo_2C_new.png"></div>
            </a>


            <a href="http://www.appnexus.com/" title="AppNexus">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/appnexus_300w_1.png')"
                  data-background-2x="/static/uploads/sponsor_logos/appnexus_300w_1.png"></div>
            </a>


            <a href="http://www.python.org/psf/"
                title="Python Software Foundation">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/PSF-200px.png')"
                  data-background-2x="/static/uploads/sponsor_logos/PSF-200px.png"></div>
            </a>


            <a href="http://matchpointpro.com/" title="Match Point Productions">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/matchPointLogo200px.png')"
                  data-background-2x="/static/uploads/sponsor_logos/matchPointLogo200px.png"></div>
            </a>
          </div>

        </div>
        <!-- Carousel nav -->
        <nav id="slider-nav">
          <a href="#" class="activeSlide"></a>
        </nav>
      </div>
    </div>


    <!--<div class="span12 sponsor-crawl">
        <h3 class="scroll-title">Sponsors</h3>
        <div class="sponsorship-link">
            <div>
                <span class="in-brackets"><em>Sponsorship available.</em> <a href="/sponsor/info" class="more">Learn more</a>.</span>
          </div>
        </div>
        <div id="sponsorslider" class="carousel slide">
            <!-- Carousel items -
            <div class="carousel-inner">
                <div class="item" style="margin: auto;">
            <a href="" title="">
                      <div class="sponsor-scroll-item" style="background-image: url();" data-background-2x=""></div>
                    </a>
                </div>
            </div>
            <!-- Carousel nav --

            <nav id="slider-nav">
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
            </nav>
        </div>
    </div>-->
    <hr>


    <hr>
  </div>
#}

  <div class="span12">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-block alert-{{ category }}">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


{% filter markdown %}

<a name="about"></a>

### Le MOOC, c'est quoi ?

Notre objectif est d'organiser un atelier sur les MOOC en Mai-Juin. Nous nous dirigeons vers une journée de workshop à Paris.

Nous aimerions ouvrir cette journée à des expériences, points de vue, initiatives nationales ou internationales et nous espérons pouvoir inviter des conférenciers de l'étranger, notamment à partir des US.

Cet événement est organisé par le GTLL (Groupe Thématique Logiciel Libre) du Pôle Systematic. Nous prévoyons d'y associer Cap Digital, en raison des aspects sociaux importants et de la présence d'éditeurs de contenus pédagogiques au sein de Cap Digital.

Un save-the-date sera envoyé très prochainement reprenant également le texte ci-dessous.

----

<a name="cfp"></a>
### Appel à participation

Au cours des derniers mois, nous avons vu émerger un nouvel acronyme, MOOC, conduisant par ailleurs à de mauvais jeux de mots. Mais, qu'est ce qu'un MOOC? MOOC signifie “massive open online courses”. Il consiste en la publication de cours ouverts et à leur diffusion à un très grand  nombre d'étudiants, en l'organisation des interactions entre ces élèves et les enseignants et entre les élèves eux-mêmes via des réseaux sociaux.

Les MOOC sont apparus aux Etats-Unis avec une pénétration phénoménale en terme de nombre d'étudiants inscrits. En 2012, deux start-ups, Udacity et Coursera ont été créées, levant plusieurs M $ auprès d'investisseurs et captant plus d'un million d'étudiants. Harvard et le MIT ont lancé le consortium EdX offrant des cours des universités de l'Ivy League. Ce phénomène traverse l'Atlantique rapidement.

À première vue, les MOOC semblent  être dans l'esprit et la thématique "ouvert"  tels que l'open source ou encore l'open data. Ainsi, le GT LL (groupe Thématique Logiciel Libre) de Systematic organise un workshop en mai 2013 avec l'objectif de débattre autour des questions suivantes

**Les aspects économiques**

- Quels sont les modèles économiques?
- Qu'est ce qui est vraiment nouveau par rapport à des cours universitaires disponibles en ligne? Est-ce que les MOOC ne représentent qu'une opportunité marketing?
- Des acteurs économiques pourront ils émerger?

**Les aspects pédagogiques et sociaux**

- Les MOOC sont-ils révolutionnaires? L'enseignement sera-t-il fortement modifié?
- Comment réaliser un "bon" cours MOOC?
- Comment un enseignant interagira avec les élèves?
- Quels certifcations ou diplômes seront délivrés à la fin du cours? Quelle en sera la crédibilité si cela est basé sur des tests en ligne?

**Les aspects technologiques**

- Quelles sont les véritables innovations? Quelles sont les technologies nouvelles derrière les MOOC?
- Quelles sont les faiblesses technologiques / manques à l'heure actuelle? Des verrous technologiques sont ils à ce jour identifiés?
- Qu'est ce qui est vraiment ouvert?
- et évidemment, quelles sont les possibilités de construire des propositions de projets collaboratifs sur des sujets relatifs aux MOOC.

Des retours d'expériences à plus ou moins grande échelle seront aussi l'objet de débats et réflexions.

----

### Etes-vous intéressé ?

Merci de remplir le formulaire ci-dessous, nous revenons vers vous dès que le programme est finalisés.


<div class="well span6">
<form action="/feedback" method="POST">
  <fieldset>
    <div class="clearfix">
    <label>Votre nom</label>
    <input name="name" type="text">
    </div>

    <div class="clearfix">
    <label>Votre organisation</label>
    <input name="organisation" type="text">
    </div>

    <div class="clearfix">
    <label>Votre adresse mail</label>
    <input name="email" type="text">
    </div>


    <div class="clearfix">
    <button type="submit" class="btn">Envoyer</button>
    </div>
  </fieldset>
</form>
</div>

<div class="clearfix"></div>

----

<a name="schedule"></a>
### Programme

Le workshop sera organisé en 4 parties couvrant ainsi les différentes dimensions des MOOC:

- Les aspects économiques (2-3 speakers * 30 min)
- Les aspects pédagogiques et sociaux (2-3 speakers * 30 min)
- Les aspects technologiques (2-3 speakers * 30 min)
- Des retours d'expériences (2-3 speakers * 30 min)

<a name="venue"></a>
### Lieu

Depending on demand, the workshop will take place at [IRILL](http://www.irill.org)
or in a bigger venue.

Restez connectés pour les annonces à venir !

{% endfilter %}

    <hr>

    <a name="news"></a>
    <h3>Le MOOC News</h3>

    <div class="news_item">
      <h4>Announcing Le MOOC 2013</h4>

      <div class="pub_date">Feb 04, 2013</div>

      <p>
        This website is live.
      </p>
    </div>

  </div>

</div>

</div>

<hr>
<div style="text-align: center">
  <footer>

    <p>
      Des questions ? Des commentaires ? Des idées ? Contactez <a href="mailto:workshop@lemooc.com">workshop@lemooc.com</a>.
    </p>

  </footer>
</div>


<script async="" src="/static/ga.js"></script>
<script src="/static/jquery_002.js"></script>
<script src="/static/ajax_csrf.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/set.js"></script>

<script src="/static/bootstrap.js"></script>
<script src="/static/theme.js"></script>


<script type="text/javascript">
  // Stupid fix until bootstrap fixes mobile nav menus
  $('body').on('touchstart.dropdown', '.dropdown-menu', function(e) {
    e.stopPropagation();
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32718163-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(function() {
    var slider = $("#sponsorslider").carousel({interval:7000});
    slider.bind("slid", function() {
      var index = $(this).find(".active").index();
      $(this).find("#slider-nav a").removeClass("activeSlide").eq(index).addClass("activeSlide");
    });
    $("#slider-nav a").click(function(e) {
      var index = $(this).index();
      slider.carousel(index);
      e.preventDefault();
    });

    var retina = window.devicePixelRatio > 1.5 ? true : false;
    if (retina) {
      $("div.sponsor-scroll-item").each(function() {
        var retinaimage = $(this).data("background-2x");
        $(this).css("background-image", "url(" + retinaimage + ")");
        // preload image
        $('<img/>')[0].src = retinaimage;
      })
    }
    ;
  });
</script>


</body>
</html>