{% extends "_base_fr.html" %}

{% block main %}
  {% filter markdown %}

<a name="about"></a>
### Le MOOC, c'est quoi ?

Au cours des derniers mois, nous avons vu émerger un nouvel acronyme, MOOC,
conduisant par ailleurs à de mauvais jeux de mots. Mais, qu'est ce qu'un
MOOC? MOOC signifie “massive open online courses”. Il consiste en la
publication de cours ouverts et à leur diffusion à un très grand nombre
d'étudiants, en l'organisation des interactions entre ces élèves et les
enseignants et entre les élèves eux-mêmes via des réseaux sociaux.

Les MOOC sont apparus aux Etats-Unis avec une pénétration phénoménale en
terme de nombre d'étudiants inscrits. En 2012, deux start-ups, Udacity et
Coursera ont été créées, levant plusieurs M $ auprès d'investisseurs et
captant plus d'un million d'étudiants. Harvard et le MIT ont lancé le
consortium EdX offrant des cours des universités de l'Ivy League. Ce
phénomène traverse l'Atlantique rapidement.

À première vue, les MOOC semblent être dans l'esprit et la thématique
"ouvert" tels que l'open source ou encore l'open data. Ainsi, le
<a href="http://www.gt-logiciel-libre.org/">GT LL (groupe Thématique
Logiciel Libre) de Systematic</a>, en collaboration avec des institutions
académiques et des industriels, et en présence d'un représentant du Ministère
de l'Enseignement Supérieur et de la Recherche, organise ce workshop le 
**30 mai 2013** avec l'objectif de débattre autour des questions suivantes:

**Les aspects économiques**

- Quels sont les modèles économiques?
- Qu'est ce qui est vraiment nouveau par rapport à des cours universitaires
  disponibles en ligne? Est-ce que les MOOC ne représentent qu'une opportunité
  marketing?
- Des acteurs économiques pourront ils émerger?

**Les aspects pédagogiques et sociaux**

- Les MOOC sont-ils révolutionnaires? L'enseignement sera-t-il fortement
  modifié?
- Comment réaliser un "bon" cours MOOC?
- Comment un enseignant interagira avec les élèves?
- Quels certifications ou diplômes seront délivrés à la fin du cours? Quelle
  en sera la crédibilité si cela est basé sur des tests en ligne?

**Les aspects technologiques**

- Quelles sont les véritables innovations? Quelles sont les technologies
  nouvelles derrière les MOOC?
- Quelles sont les faiblesses technologiques / manques à l'heure actuelle?
  Des verrous technologiques sont ils à ce jour identifiés?
- Qu'est ce qui est vraiment ouvert?
- et évidemment, quelles sont les possibilités de construire des
  propositions de projets collaboratifs sur des sujets relatifs aux MOOC.

Des **retours d'expériences** à plus ou moins grande échelle seront aussi
l'objet de débats et réflexions.

Vous pouvez consulter dès à présent le
[programme des interventions](/fr/programme/), qui est cependant encore en construction.

----

### Etes-vous intéressé ?

Merci de remplir le formulaire ci-dessous, nous revenons vers vous dès que
le programme est finalisés.


<div class="well span6">
  <form action="/feedback" method="POST">
    <fieldset>
      <div class="clearfix">
        <label>Votre nom</label>
        <input name="name" type="text">
      </div>

      <div class="clearfix">
        <label>Votre organisation</label>
        <input name="organisation" type="text">
      </div>

      <div class="clearfix">
        <label>Votre adresse mail</label>
        <input name="email" type="text">
      </div>


      <div class="clearfix">
        <button type="submit" class="btn">Envoyer</button>
      </div>
    </fieldset>
  </form>
</div>

<div class="clearfix"></div>

  {% endfilter %}

  <hr>

  <a name="news"></a>
  <h3>Le MOOC News</h3>

  <div class="news_item">
    <h4>Programme préliminaire</h4>

    <div class="pub_date">26 Mars 2013</div>

    <p>
      Une première <a href="/fr/programme/">ébauche de programme</a> a été
    publiée.
    </p>
  </div>

  <div class="news_item">
    <h4>Date et lieu confirmés pour Le MOOC 2013</h4>

    <div class="pub_date">25 Mars 2013</div>

    <p>
      Le workshop aura bien lieu le 30 mai à l'Université Paris Diderot. </p>
  </div>

  <div class="news_item">
    <h4>Announcing Le MOOC 2013</h4>

    <div class="pub_date">Feb 04, 2013</div>

    <p>
      This website is live. </p>
  </div>

{% endblock %}
