{% extends "_base_fr.html" %}

{% block main %}
  {% filter markdown %}

<a name="about"></a>
## Le MOOC, c'est quoi ?

Au cours des derniers mois, nous avons vu émerger un nouvel acronyme, MOOC,
conduisant par ailleurs à de mauvais jeux de mots. Mais, qu'est ce qu'un
MOOC? MOOC signifie “massive open online courses”. Il consiste en la
publication de cours ouverts et à leur diffusion à un très grand nombre
d'étudiants, en l'organisation des interactions entre ces élèves et les
enseignants et entre les élèves eux-mêmes via des réseaux sociaux.

Les MOOC sont apparus aux Etats-Unis avec une pénétration phénoménale en
terme de nombre d'étudiants inscrits. En 2012, deux start-ups, Udacity et
Coursera ont été créées, levant plusieurs M $ auprès d'investisseurs et
captant plus d'un million d'étudiants. Harvard et le MIT ont lancé le
consortium EdX offrant des cours des universités de l'Ivy League. Ce
phénomène traverse l'Atlantique rapidement.

À première vue, les MOOC semblent être dans l'esprit et la thématique
"ouvert" tels que l'open source ou encore l'open data. Ainsi, le
<a href="http://www.gt-logiciel-libre.org/">GT LL (groupe Thématique
Logiciel Libre) de Systematic</a>, en collaboration avec des institutions
académiques et des industriels, et en présence d'un représentant du Ministère
de l'Enseignement Supérieur et de la Recherche, organise ce workshop le
**30 mai 2013** avec l'objectif de débattre autour des questions suivantes:

**Les aspects économiques**

- Quels sont les modèles économiques?
- Qu'est ce qui est vraiment nouveau par rapport à des cours universitaires
  disponibles en ligne? Est-ce que les MOOC ne représentent qu'une opportunité
  marketing?
- Des acteurs économiques pourront ils émerger?

**Les aspects pédagogiques et sociaux**

- Les MOOC sont-ils révolutionnaires? L'enseignement sera-t-il fortement
  modifié?
- Comment réaliser un "bon" cours MOOC?
- Comment un enseignant interagira avec les élèves?
- Quels certifications ou diplômes seront délivrés à la fin du cours? Quelle
  en sera la crédibilité si cela est basé sur des tests en ligne?

**Les aspects technologiques**

- Quelles sont les véritables innovations? Quelles sont les technologies
  nouvelles derrière les MOOC?
- Quelles sont les faiblesses technologiques / manques à l'heure actuelle?
  Des verrous technologiques sont ils à ce jour identifiés?
- Qu'est ce qui est vraiment ouvert?
- et évidemment, quelles sont les possibilités de construire des
  propositions de projets collaboratifs sur des sujets relatifs aux MOOC.

Des **retours d'expériences** à plus ou moins grande échelle seront aussi
l'objet de débats et réflexions.

### Etapes suivantes

- Je consulte le [programme des interventions](/fr/programme/).
- Je [m'inscris à la conférence](/fr/registration/).
- J'ai besoin de renseignements complémentaires:
  [je contacte les organisateurs par mail](mailto:contact@lemooc.com).

----

## Comment participer ?

Il reste encore des places, vous pouvez vous insrire (gratuitement) en utilisant
[ce formulaire](/fr/registration/).

<div class="clearfix"></div>

  {% endfilter %}

  <hr>

  <h2>Les news du MOOC</h2>

  {% for post in posts %}
    <div class="news-item">
      <h4>{{ post.title }}</h4>

      <div class="pub-date">{{ post.date }}</div>

      {{ post.html|safe }}
    </div>
  {% endfor %}

  <hr>
  <h2>Derniers inscrits</h2>

  {% from "_macros.html" import m_participant %}

  {% for reg in regs %}
    {% if loop.index0 % 3 == 0 %}
    <hr>
    <div class="row">
    {% endif %}

    {{ m_participant(reg) }}

    {% if loop.index0 % 3 == 2 and not loop.last %}
    </div>
    {% endif %}
  {% endfor %}
  </div>

  <hr>

  <p>
    <a href="/fr/participants/">Tous les participants inscrits.</a>
  </p>

{% endblock %}
