<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Le MOOC 2013 - Paris - Mai 2013</title>


  <link href="/static/images/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="/static/bootstrap.css" type="text/css"
      media="screen">
  <link rel="stylesheet" href="/static/custom.css" type="text/css"
      media="screen">
</head>

<body>

<header class="main">

  <div class="navbg">
    <div class="container" style="height: 50px">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse"
              data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </a>

          <div class="nav-collapse">
            <ul class="nav">
              <!--About-->
              <li>
                <a href="#about" title="About">About</a>
              </li>

              <!--RFP-->
              <li>
                <a href="#cfp" title="CFP">CFP</a>
              </li>

              <!--Venue-->
              <li>
                <a href="#venue" title="Venue">Venue</a>
              </li>

              <!--Schedule-->
              <li>
                <a href="#schedule" title="Schedule">Schedule</a>
              </li>

              <!--Press-->
              <li class="">
                <a href="#news" title="News">News</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</header>


<div class="banner">
  <div class="row">
    <div class="white">
      <div class="container">
        <div style="margin-left: auto; margin-right: auto">
          <h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
            <a href="/"><img src="/static/images/logo.png" width="400"></a></h1>
        </div>
      </div>

      <div class="grey">
        <div class="container">
          <div class="row" style="height: 40px">
            <div class="span12">
              <h4 style="margin-top: 20px; margin-bottom: 20px;">How "Online", "Social" and "Open" are revolutionizing
                education</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row red">
        <div class="container">
          <div class="span12">
            <h3 style="margin-top: 15px;"><span>Date: </span> May 30, 2013</h3>

            <h3 style="margin-bottom: 15px;"><span>Location: </span> Paris (Université Paris Diderot)</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
  {#
    <div class="span12 sponsor-crawl">
      <h3 class="scroll-title">Sponsors</h3>

      <div class="sponsorship-link">
        <div>
          <span class="in-brackets"><em>Sponsorship available.</em> <a
              href="http://www.pydata.org/sponsor/info" class="more">Learn
            more</a>.</span>
        </div>
      </div>

      <div id="sponsorslider" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active" style="margin: auto;">

            <a href="http://www.continuum.io/"
                title="Continuum Analytics, Inc.">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/continuum170w.png')"
                  data-background-2x="/static/uploads/sponsor_logos/continuum170w.png"></div>
            </a>


            <a href="http://www.deshaw.com/" title="D.E. Shaw">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/DESCO_Logo_2C_new.png')"
                  data-background-2x="/static/uploads/sponsor_logos/DESCO_Logo_2C_new.png"></div>
            </a>


            <a href="http://www.appnexus.com/" title="AppNexus">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/appnexus_300w_1.png')"
                  data-background-2x="/static/uploads/sponsor_logos/appnexus_300w_1.png"></div>
            </a>


            <a href="http://www.python.org/psf/"
                title="Python Software Foundation">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/PSF-200px.png')"
                  data-background-2x="/static/uploads/sponsor_logos/PSF-200px.png"></div>
            </a>


            <a href="http://matchpointpro.com/" title="Match Point Productions">
              <div class="sponsor-scroll-item"
                  style="background-image: url('/static/uploads/sponsor_logos/matchPointLogo200px.png')"
                  data-background-2x="/static/uploads/sponsor_logos/matchPointLogo200px.png"></div>
            </a>
          </div>

        </div>
        <!-- Carousel nav -->
        <nav id="slider-nav">
          <a href="#" class="activeSlide"></a>
        </nav>
      </div>
    </div>


    <!--<div class="span12 sponsor-crawl">
        <h3 class="scroll-title">Sponsors</h3>
        <div class="sponsorship-link">
            <div>
                <span class="in-brackets"><em>Sponsorship available.</em> <a href="/sponsor/info" class="more">Learn more</a>.</span>
          </div>
        </div>
        <div id="sponsorslider" class="carousel slide">
            <!-- Carousel items -
            <div class="carousel-inner">
                <div class="item" style="margin: auto;">
            <a href="" title="">
                      <div class="sponsor-scroll-item" style="background-image: url();" data-background-2x=""></div>
                    </a>
                </div>
            </div>
            <!-- Carousel nav --

            <nav id="slider-nav">
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
                <a href="#" class=""></a>
            </nav>
        </div>
    </div>-->
    <hr>


    <hr>
  </div>
#}

  <div class="span12">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-block alert-{{ category }}">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


{% filter markdown %}

<a name="about"></a>
### What is Le MOOC?

Le MOOC is a workshop that will take place, tentatively, over one day in May or
June 2013, in Paris.

This event will be open to national and international experiences,
points of view, initiatives... and we hope to invite speakers from abroad,
notably from the USA.

----

<a name="cfp"></a>
### Call for participants

Over the last months, we have seen emerging a new acronym, MOOC, leading by the way to bad puns in French. But, what is a MOOC? MOOC means “massive open online course”. It consists in the distribution of open courses to a huge number of students (thousands if not tens or hundreds of thousands), in the organization of interactions between students and teachers and also between students themselves via social networks.

MOOC appeared in the US with a phenomenal roll-out and is rapidly crossing the Atlantic Sea. In 2012, two start-ups, Udacity and Coursera have been created, raising millions of dollars from investors and attracting more than 1 million students. Harvard and MIT have launched edX, a non-profit venture offering courses from Ivy League universities.

At a first glance, MOOC seem to be in the “open” spirit and the [GT LL (Free & Open Source Software Working Group)](http://www.gt-logiciel-libre.org/) of the Systematic cluster organizes a workshop in May 2013 with the goals to debate the following questions:

- How big is / will be the MOOC market?
- What are the business models?
- Could it help new economic players emerge ?

- What is really new compared to good old university lectures available online?
- Is MOOC revolutionary? Will it modify strongly education?
- How to realize a "good" course?
- How a teacher will interact with students?
- Which qualification at the end of the course? How to make it be credible if based on online tests?

- What are the real innovations? What are the real new technologies behind MOOC?
- What are the technological weaknesses / lacks at this time?
- What is really open?

And of course, what are the opportunites to build collaborative projects proposal on subjects relative to MOOC.

{% endfilter %}

    <h4>Are you interested?</h4>

    <p>
      Please fill the form below and we will get back to you as soon as the
      program is ready. </p>

    <div class="well span6">
    <form action="/feedback" method="POST">
      <fieldset>
        <div class="clearfix">
        <label>Your name</label>
        <input name="name" type="text">
        </div>

        <div class="clearfix">
        <label>Your organisation</label>
        <input name="organisation" type="text">
        </div>

        <div class="clearfix">
        <label>Your email</label>
        <input name="email" type="text">
        </div>


        <div class="clearfix">
        <button type="submit" class="btn">Submit</button>
        </div>
      </fieldset>
    </form>
    </div>

    <div class="clearfix"></div>

{% filter markdown %}

----

<a name="schedule"></a>
### Tentative schedule

The workshop will be organized in four parts covering the different dimensions of MOOC :

- Business (2-3 speakers * 30 min = 1:00 à 1:30)
- Educational and social aspects  (2-3 speakers * 30 min = 1:00 à 1:30))
- Technological aspects (2-3 speakers * 30 min = 1:00 à 1:30)
- Feedback from past and current experiments  (2-3 speakers * 30 min = 1:00 à 1:30)


<a name="venue"></a>
### Venue

Université Paris Diderot<br>
 Bâtiment Sophie-Germain - Amphithéâtre Turing <br>
8 place FM/13 (en cours de nomination)<br>
75013 Paris

Entrée au croisement de l'av. de France et de la rue Alice-Domon et Léonie-Duquet .

{% endfilter %}

    <hr>

    <a name="news"></a>
    <h3>Le MOOC News</h3>

    <div class="news-item">
      <h4>Announcing Le MOOC 2013</h4>

      <div class="pub-date">Feb 04, 2013</div>

      <p>
        This website is live.
      </p>
    </div>

  </div>

### Organizers / sponsors

<ul>
  <li><a href="http://www.gt-logiciel-libre.org/">Groupe Thématique Logiciel Libre de Systematique</a></li>
  <li><a href="http://www.inria.fr/">Inria</a></li>
  <li><a href="http://www.irill.org/">IRILL</a></li>
  <li><a href="http://www.upmc.fr/">UPMC</a></li>
  <li><a href="http://www.univ-paris-diderot.fr/">Université Paris Diderot</a></li>
  <li><a href="http://www.abilian.com/">Abilian</a></li>
</ul>

</div>

</div>

<hr>
<div style="text-align: center">
  <footer>

    <p>
      Questions? Comments? Ideas? Contact <a href="mailto:workshop@lemooc.com">workshop@lemooc.com</a>.
    </p>

  </footer>
</div>


<script async="" src="/static/ga.js"></script>
<script src="/static/jquery_002.js"></script>
<script src="/static/ajax_csrf.js"></script>
<script src="/static/jquery.js"></script>
<script src="/static/set.js"></script>

<script src="/static/bootstrap.js"></script>
<script src="/static/theme.js"></script>

<script type="text/javascript">
  // Stupid fix until bootstrap fixes mobile nav menus
  $('body').on('touchstart.dropdown', '.dropdown-menu', function(e) {
    e.stopPropagation();
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32718163-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(function() {
    var slider = $("#sponsorslider").carousel({interval:7000});
    slider.bind("slid", function() {
      var index = $(this).find(".active").index();
      $(this).find("#slider-nav a").removeClass("activeSlide").eq(index).addClass("activeSlide");
    });
    $("#slider-nav a").click(function(e) {
      var index = $(this).index();
      slider.carousel(index);
      e.preventDefault();
    });

    var retina = window.devicePixelRatio > 1.5 ? true : false;
    if (retina) {
      $("div.sponsor-scroll-item").each(function() {
        var retinaimage = $(this).data("background-2x");
        $(this).css("background-image", "url(" + retinaimage + ")");
        // preload image
        $('<img/>')[0].src = retinaimage;
      })
    }
    ;
  });
</script>

</body>
</html>